<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.whitelabel.app">
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <!-- GCM requires a Google account. -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <application
        android:name=".WhiteLabelApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <!-- tools:replace="android:name" -->
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/global_tracker" />
        <meta-data
            android:name="com.whitelabel.app.network.GlideConfiguration"
            android:value="GlideModule" />
        <!-- FACEBOOK -->
        <!-- <meta-data -->
        <!-- android:name="com.facebook.sdk.ApplicationId" -->
        <!-- android:value="@string/facebook_app_id" /> -->
        <!--<receiver-->
        <!--android:name="com.google.android.gms.analytics.AnalyticsReceiver"-->
        <!--android:enabled="true">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <!-- paypal -->
        <!--<activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />-->
        <!--<activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />-->
        <!--<activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />-->
        <!--<activity android:name="com.paypal.android.sdk.payments.LoginActivity" />-->
        <!--<activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity" />-->
        <!--<activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity" />-->
        <!--<activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />-->
        <!--<activity android:name="com.paypal.android.sdk.payments.PayPalProfileSharingActivity" />-->
        <!--<activity android:name="com.paypal.android.sdk.payments.ProfileSharingConsentActivity" />-->

        <!--<service-->
        <!--android:name="com.paypal.android.sdk.payments.PayPalService"-->
        <!--android:exported="false" />-->

        <!--  -->
        <!--<service-->
        <!--android:name="com.google.android.gms.analytics.AnalyticsService"-->
        <!--android:enabled="true"-->
        <!--android:exported="false" />-->
        <!--<service-->
        <!--android:name=".LeakAnalysisResultService"-->
        <!--android:exported="false" />-->

        <!--<receiver-->
        <!--android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"-->
        <!--android:exported="true"-->
        <!--android:permission="android.permission.INSTALL_PACKAGES">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.android.vending.INSTALL_REFERRER" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <!-- FACEBOOK -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />

        <!--<provider-->
        <!--android:name="com.facebook.FacebookContentProvider"-->
        <!--android:authorities="com.facebook.app.FacebookContentProvider604176613049064"-->
        <!--android:exported="true" />-->

        <activity
            android:name=".ui.start.StartActivityV2"
            android:screenOrientation="portrait"
            android:theme="@style/startStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginRegisterActivity"
            android:launchMode="singleTop"
            android:theme="@style/BackgroundWhiteTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activity.MyAccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activity.HomeActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/BackgroundWhiteTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="homepage"
                    android:scheme="wnp" />

                <data
                    android:host="product"
                    android:scheme="wnp" />

            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.activity.ShopBrandActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BackgroundWhiteTheme" />
        <activity
            android:name=".activity.ProductActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BackgroundWhiteTheme" />
        <activity
            android:name=".ui.productdetail.ProductDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BackgroundWhiteTheme" />
        <activity
            android:name=".activity.ShoppingCartActivity1"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.NotificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.BankTransaferActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.PaymentHelpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.AddAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.EditAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activity.HelpCenterDetialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CurationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BackgroundWhiteTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.MerchantStoreFrontActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BackgroundWhiteTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.TrackingInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BackgroundWhiteTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.checkout.CheckoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BackgroundWhiteTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- MOLPayActivity -->
        <!-- <activity -->
        <!-- android:name="com.molpay.molpayxdk.MOLPayActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".activity.CheckoutPaymentStatusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlackgroundBalckTheme" />
        <activity
            android:name=".activity.MyAccountChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyAccountOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProductListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BackgroundWhiteTheme" />
        <activity
            android:name=".activity.CheckoutPaymentRedirectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FavoriteActivity"
            android:screenOrientation="portrait" />

        <!-- android:theme="@style/ImageScale" -->
        <activity
            android:name=".activity.ProductDetailPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShoppingCartCampaignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CreditInstructionActivity"
            android:screenOrientation="portrait" />
        <!--
        <activity
            android:name="com.whitelabel.appcom.whitelabel.app.activity.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        -->
        <activity
            android:name=".activity.BankTransaferSuccessActivity"
            android:label="@string/title_activity_bank_transafer_success"
            android:screenOrientation="portrait" />

        <!-- GcmReceiver -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.whitelabel.app" />
            </intent-filter>
        </receiver>
        <!-- [START gcm_listener] -->
        <service
            android:name=".notification.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name=".notification.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name=".notification.RegistrationIntentService"
            android:exported="false" />

        <activity
            android:name=".activity.NotificationDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NotificationDetailOpenLinkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HideFunctionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HideFunctionLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterToHelpCenter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".activity.NotificationReceiver"
            android:enabled="true"
            android:exported="true" />

        <!--<meta-data-->
        <!--android:name="io.fabric.ApiKey"-->
        <!--android:value="967ab5d94c3f9fda9e3bbf9adef59d05e74bcc41" />-->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity android:name=".ui.brandstore.BrandStoreFontActivity" />
        <!-- <activity android:name="com.whitelabel.app.activity.PaypalActivity"></activity> -->
        <activity android:name=".ui.productdetail.BindProductActivity" />
        <activity android:name=".ui.checkout.CheckoutSelectAddressActivity" />
        <activity android:name=".ui.shoppingcart.ShoppingCartActivity" />
        <activity android:name=".ui.checkout.PayPalPaymentActivity"
            android:screenOrientation="portrait"></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="967ab5d94c3f9fda9e3bbf9adef59d05e74bcc41" />
    </application>

</manifest>